<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{username}}</title>
    <link rel="stylesheet" href="./public/styles.css">
  </head>
  <body>
    <img src alt="">
    <h1>{{name}}</h1>
    <p>{{address.city}}, {{address.country}}</p>
  </body>
</html>
